/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  header {
    background: rgb(96, 108, 200);
  }
  
  h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }
  
  h3 {
    font-size: 24px;
    color: #eee;
  }
  
  a {
    color: #0e750b;
  }
  
  /* Selecting elements by class */
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  /* Selecting elements by ID */
  #main-bio,
  #contact-info {
    float: left;
  }
  
  #figure {
    position: relative;
  }
  

  
  #main-bio {
    width: 70%;
  }
  
  #sidebar {
    width: 30%;
  }
  
  #footer2 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: right;
    left: 0;
    bottom: 0;
    width: 25%;
    height: min-content;
    background-color: rgb(96, 108, 200);
    color: #efeee7;
    text-align: center;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    float: right;
  }
  #sidebar {

    float:right;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

 #id_3 {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    color: #efeee7;
    text-decoration: none;
    float: right
  }

  #id_10 {
  
    color: #efeee7;
    text-decoration: none;
  }

  #id_11 {
  
    color: #efeee7;
    text-decoration: underline;
  }

  #id_12 {
  
    color: #efeee7;
    text-decoration: underline;
  }

  #id_2 {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

  ::-webkit-scrollbar-track {
    margin-top: 10px;
    margin-bottom: 10px;
    .
    .
    .
}