.map-container {
  position: absolute;
  height: 1050px;
  width: 1400px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  
}
  
  h3 {
color:#4E878C;
font-family:verdana;

  }

p {

color:#65B891;
font-family:verdana;

}